header ul{
	list-style: none;
}
header ul li{
	display: inline;
	padding: 20px;
}
h1{
	margin: 10px;
}
.mainpage {
	text-decoration: none;
	color: #a60202;
}
.pagelink:hover {
	font-weight: bold;
}
.pagelink{
	text-decoration: none;
	color: black;
}
header {
	margin: 10px;
	background-color: #ededed;
	vertical-align: text-top;
	display: flex;
	width: 100%;
	align-items: center;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
}
button{
	margin: 20px;
	width: 50%;
	background-color: #ededed;
	color: black;
	border-radius: 4px;
}
.wholepage{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.box{
	background-color: white;
	color: black;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 800px; 
	height: auto;
	display: flex;
	flex-flow: column; 
	align-content: center;
	align-items: center;
	text-align: center;
}
.formBox{
	background-color: white;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 800px;
	display: flex;
	flex-flow: column wrap;
}
.question{
	display: flex;
	flex-flow: row wrap;
	padding: 5px;
}
body{
	font-family: candara;
	background-color:#fae6e9;
	margin: 0px;
}
.message{
	font-size: 20px;
	text-align: center;
	margin: 10px;
}
form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}
section{
	display: inline-block;
	text-align: left;
}
label{
	font-size: 15px;
	margin-right: 5px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #790000;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}
footer ul{
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	padding: 0px;
	text-transform: uppercase;
}
footer ul li{
	display: inline;
	padding: 20px;
}
footer a{
	text-decoration: none;
	color: white;
}
footer a:hover{
	font-weight: bold;
}
.about-box{
	text-align: center;
	background-color: white;
	margin: 10px;
	padding: 5px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 800px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-box p{
	font-size: 25px;
}
.about-box h1{
	font-size: 50px;
	font-weight: normal;
}
.logo{
	width: 421px;
	height: 169px;
	background-color: white;
	margin: 10px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	padding: 20px;
}
.aboutpage{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 100px;
}
#joke{
	color: #fae6e9;
}
#calcbutton{
	height: 50px;
	width: 20%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.privpage{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.priv-box{
	background-color: white;
	color: black;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 800px; 
	height: auto;
	display: flex;
	flex-flow: column; 
	align-content: center;
	align-items: center;
	text-align: center;
}

main ul {
	list-style: square;
}
h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 10px;
	align-content: center;
}
.image{
	height: 200px;
    width: 300px;
    margin-right: 10px;
}
h3{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.container{
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
	align-items: center;
	box-shadow: 0px 0px 4px black;
}
main{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-bottom: 100px;
}
.hide{
	display: none;
}
.resultname{
	order: 1;
}
.match1{
	order: 2;
}
.match2 {
	order: 3;
}
.match3 {
	order: 4;
}

@media screen and (min-width: 999px){
	.container{
		width: 80%;
	}
}

@media screen and (max-width: 730px){
	.question {
		flex-flow: column wrap;
	}
	.formBox{
		width: 85%;
		margin-bottom: 120px;
	}
	section{
		padding: 5px;
		text-align: center;
	}
	.container{
		width: 100%;
	}
}

@media screen and (max-width: 998px) and (min-width: 575px) {
	header{
		justify-content: center;
	}
	.box{
		width: 85%;
	}
	.about-box{
		width: 90%;
	}
	.about-box h1{
		font-size: 150%;
	}
	.about-box p{
		font-size: 150%;
	}
	.formBox{
		width: 90%;
	}
	.priv-box{
		max-width: 550px;
		font-size: 90%;
	}
}

@media screen and (max-width: 574px){
	header{
		flex-direction: column;
        text-align: center;
	}
	footer{
		flex-flow: column-reverse wrap;
	}
	ul li{
		display: block;
		padding: 5px;
	}
	ul{
		padding-inline-start: 0px;
	}
	.image{
		width: 70%;
		height: auto;
	}
	.about-box{
		width: 85%;
	}
	.about-box h1{
		font-size: 90%;
	}
	.about-box p{
		font-size: 90%;
	}
	.box{
		width: 95%
	}
	#message{
		font-size: 95%;
	}
	label{
		font-size: 85%;
	}
	.priv-box{
		width: 85%;
		font-size: 90%;
	}
}