ul{
	list-style: none;
}
ul li{
	display: inline;
	padding: 20px;
}
h1{
	margin: 10px;
}
.mainpage {
	text-decoration: none;
	color: #a60202;
}
.pagelink:hover {
	font-weight: bold;
}
.pagelink{
	text-decoration: none;
	color: black;
}
header {
	margin: 10px;
	background-color: #ededed;
	vertical-align: text-top;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
}
button{
	width: 50%;
}
.box{
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 800px; 
	height: 100px;
	display: flex;
	flex-flow: column; 
	align-content: center;
	align-items: center;
	text-align: center;
}
.formBox{
	background-color: white;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 800px;
}
body{
	font-family: candara;
	background-color:#fae6e9;
}
#message{
	font-size: 20px;
	text-align: center;
	margin: 10px;
}
form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}
section{
	display: inline-block;
	text-align: left;
}
label{
	font-size: 15px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #790000;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}
footer ul{
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	padding: 0px;
	text-transform: uppercase;
}
footer a{
	text-decoration: none;
	color: white;
}
footer a:hover{
	font-weight: bold;
}
div{
	font-size: 42px;
	text-align: center;
}
td{
	font-size: 24px;
}
#joke{
	color: #fae6e9;
}
